<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <noscript>
        <meta http-equiv="refresh" content="0; url=https://lk.kuban.tns-e.ru/helper/nojs.htm"/>
    </noscript>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>JokeChat / @ViewBag.Title</title>
</head>
<body style="display: none;">
<header></header>
<section>@RenderBody()</section>
<footer></footer>
<script>
    var css_var = [''],
        js_var = [''],
        pre_load = function() {
            var html = document.documentElement, body = document.body || document.getElementsByTagName("body")[0];
            html.style.cssText = "height: 100%; width: 100%; background-image: url('https://lk.kuban.tns-e.ru/image/preloader.gif'); background-repeat: no-repeat; background-position: 50% 50%";
            body.style.cssText = "display: none;";
        }; pre_load();
</script>
<script src=""></script>
</body>
</html>